<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/css/global.css">
    <link rel="stylesheet" href="/src/css/index.css">
    <title>ChoruMext</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-5 from-top">ChoruMext</h1>
        <div class="d-flex justify-content-center mt-5 mb-5">
            <img class="rounded logo-image from-top logo-animation" src="/assets/images/favicon.png" alt="Chorume">
        </div>
        <p class="text-center from-left">O Framework mais merda que você vai encontrar na face da terra!</p>
        <div class="d-flex justify-content-center mt-5 mb-5">
            <img class="rounded main-image from-left" src="/assets/images/chorume.jpg" alt="Chorume">
        </div>
        <p class="text-center mt-3 mb-3 from-left">Espero que se divirta com esse lixo.</p>
        <p class="text-center mb-3 from-bottom">Edite o arquivo de <a href="#" id="fake-link-to-file"><code>src/views/index.ejs</code></a></p>
    </div>
    <script src="/src/js/index.js"></script>
    <script type="module" src="/src/js/global.js"></script>
</body>
</html>